%h2
  = link_to parent.name, parent
  \/
  = @page_title = 'Groups'

%p= add_link "add group", new_resource_path

%table.table.table-hover
  %thead
    %th Name
    %th Users
  %tbody
    = render collection
