%h2= @page_title = 'Courses'

- if admin?
  %p= link_to "add course", new_resource_path

%table
  %thead
    %th Name
    %th.numeric Users
    %th.numeric Groups
    %th.numeric Projects
  %tbody
    = render collection
